.resultsTable .method {
max-width:0;
padding-right:0;
}
.resultsTable .duration {
padding-left:0em;
padding-right:0;
padding-top:1.3em;
max-width:0;
}
.testOutput {
padding-top:1em;
}
td.result {
padding-top:3em;
}
.WARNING {
font-size:0.9em;
padding-left:19px;
}
.INFO {
font-size:0.8em;
padding-left:25px;
}
.FINE {
color:#777777;
font-size:0.6em;
line-height:1.3;
padding-left:30px;
}
.FINER {
color:#999999;
font-size:0.3em;
line-height:1.3;
padding-left:35px;
}
.FINEST {
color:#AAAAAA;
font-size:0.2em;
line-height:1.3;
padding-left:40px;
}
.SEVERE {
background-image:url(/images/webui-framework/severe.png);
background-repeat:no-repeat;
font-size:1em;
padding-left:19px;
}
.ACTION {
background-image:url(/images/webui-framework/action.png);
background-repeat:no-repeat;
font-size:1em;
padding-left:19px;
}
.ASSERT {
background-image:url(/images/webui-framework/assert.png);
background-repeat:no-repeat;
font-size:1em;
padding-left:19px;
}
.ASSERTFAIL {
background-image:url(/images/webui-framework/assertfail.png);
background-repeat:no-repeat;
font-size:1em;
padding-left:19px;
}
.banner {
background-color:#EEEEEE;
text-align:center;
}
.testOutput .startTest {
visibility:hidden;
}
